body {
    margin: 0px;
    padding: 0px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(42, 42, 97);
    box-sizing: border-box;
}

#wrap {
    width: 100%;
    font-size: 18px;
    padding-left: 400px;
}

#nav {
    width: 20%;
    height: 600px;
    
    background-color: rgb(144, 183, 241);
   float: left;
  
    
    
}
#content {
    width: 60%;
    height: 600px;
    background-color: rgb(44, 100, 184);
    

}
#list2 {
  position: relative;
  left: 5em;
  line-height: 1.5em;
}
h1,h2 {
    text-align: center;
}
footer {
    clear: right;
    font-size: 16px;
}
#para {
    text-align: center;
    line-height: 1.5em;
}
#list {
    list-style-type: none;
    text-align: center;
    line-height: 1.5em;
}
.copyright {
 direction: rtl;
 font-size: 1.2em;
 line-height: 2em;
 margin-right: 200px;
}